# Railway app service
SPRING_PROFILES_ACTIVE=prod
DB_URL=jdbc:postgresql://postgres.railway.internal:5432/railway
DB_USERNAME=postgres
DB_PASSWORD=yhJhTJRtPzxXpVjimJpyqKNokDInitbX

# Optional runtime tuning
JAVA_OPTS=-Xms128m -Xmx512m

# Application
APP_PORT=8080